<!-- Resources -->
<div class="content" role="main">

  <h2 style="color:#0076C7;">Welcome to the Intuit Portal</h2>
  <p>Here are some links to help you get started:</p>

  <div class="row" style="height:250px;">
    <span style="padding:25px; cursor:pointer; outline:none;" routerLink="/target_audience">
      <img height="250px" width="250px" src="..\assets\target_audience.png" class="imageBorder" alt="">
    </span>
    <span style="padding:25px; cursor:pointer; outline:none;" routerLink="/campaign_measurement">
      <img height="250px" width="250px" src="..\assets\campaign_measurement.jpg" class="imageBorder" alt="">
    </span>

  </div>

  <div class="card-container" style="padding-top:30px;">

      <a class="card" routerLink="/target_audience">
        <span>Target Audience</span>
      </a>
      <a class="card" routerLink="/campaign_measurement">
        <span>Campaign Measurement</span>
      </a>

  </div>

</div>
